#color-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addSchemeButton {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 20px;
    align-items: center;
    font-style: italic;
    font-size: 0.9em;
}

#addSchemePlusSign {
    margin-top: 1px;
    margin-left: 4px;
}

#customization-panel {
    position: absolute;
    left: 120%;
    top: -26px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 28px;
    margin: auto;
    border: solid;
    border-radius: 20px;
}

#customization-panel-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 2px;
}

.customization-panel-content-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.customization-panel-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#closeX {
    position: absolute;
    right: 7px;
    top: 7px;
}