.header {
    padding: 10px;
    border-bottom: solid;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.header-element {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 4px;
}