.header {
    padding: 8px 10px 10px 10px;
    border-bottom: solid;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.main-menu {
    display: flex;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

.header-element {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 4px;
}