#header-cover {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
}

#letter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    width: 70px;
    height: 70px;
    margin: 0px;
    margin-top:  55px;
    
}

#homepage-logo-container {
    display: flex;
    justify-content: center;
    width: 480px;
    background: brown;
    height: 157px;
    margin: auto;
    border-radius: 6px;
    margin-bottom: 100px;
    margin-top: 98px;
}

.line {
    position: absolute;
    top: 204px;
    width: 610px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%, -50%);
}

#line-one {  
    top: 204px;
}

#line-two { 
    top: 278px;
}

#max-width-container {
    width: 970px;
    margin: auto;
}

#home-page-content-container {
    width: auto;
    height: auto;
    text-align: justify;
    text-align-last: center;
    line-height: 28pt;
}