.color-scheme-dark {
    background-color:red;
    position: absolute;
    height: 100%;
    width: 100%;
}

.App {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }