.color-scheme-dark {
    background-color:red;
    position: absolute;
    height: 100%;
    width: 100%;
}

.App {
    position: absolute;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

.pointer {
    cursor: pointer;
}