@import "~react-image-gallery/styles/css/image-gallery.css";

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.project-card {
    width: 340px;
    height: 436px;
    /* position: relative; */
    /* box-shadow: 5px 5px 10px rgb(15, 15, 15); */
    align-items: flex-end;
}



.card-image-hovered {
    height: 340px;
    width: 340px;
    /* opacity: 100%; */
    /* background-size: 100%; */
    background-repeat: no-repeat;
}

.card-image-unhovered {
    height: 340px;
    width: 340px;
    /* opacity: 70%; */ 
    /* background-size: 100%; */
    background-repeat: no-repeat;
}



.project-card-title {
    font-size: 21px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    text-shadow: 2px 2px 2px rgb(10, 10, 10);
}

.project-card-description {
    text-align: justify;
    font-size: 16px;
    margin-left: 15px;
    font-style: italic;
    margin-top: 3px;
}


#detail-page-content {
    /* width: 1500px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-overview-button-container {
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.project-overview-button {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 45px;
    /* background-color: black; */
    display: flex;
    align-items: center;
}


#picture-show {
    align-items: center;
    justify-content:center;
    /* background-color: red; */
    width: 40%;
    height: 800px;
    margin: 30px;
}

#project-details {
    /* background-color: blue; */
    width: 50%;
    height: 800px;
    margin: 30px;
}

#project-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid;
    border-width: 2px;
    padding-bottom: 4px;
    /* padding-left: 6px; */
    /* padding-right: 6px; */
    /* background-color: cornflowerblue; */
}

#project-details-title {
    /* color: red; */
    font-size: 30px;
    font-weight: 1000;
}

#project-detail-description {
    font-style: italic;
    font-size: 16px;
}

#project-detail-detailInformation {
    text-align: justify;
    line-height: 16pt;
    /* white-space: pre-wrap; */
}

#project-detail-nav {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
    /* background-color: green; */
}

.project-detail-nav-button {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1px;
    padding-right: 6px;
    border-radius: 6px;
    margin-right: 12px;
}

#project-details-technologies {
    font-weight: 1000;
    font-size: 16px;
}

.icon {
    padding: 5px;
    /* background-color: cornflowerblue; */
}