.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project {
    background-color: darkslategray;
    width: 300px;
    height: 185px;
    margin: 20px;
}